passlib
wikipedia-api
sqlalchemy-cockroachdb
psycopg2
pydantic
fastapi
PyJWT
sqlalchemy
datetime
pydantic[email]
python-multipart
bcrypt
langchain
langchain-google-genai
uvicorn
jinja2
pathlib
uvicorn[standard]
websockets
